<mat-card>
    <h2 [ngStyle]="{'text-align':'center'}">{{state.toUpperCase()}} Guitar
        <br>
        <img *ngIf="formObject" [src]="formObject.image" width="100" alt="">
    </h2>
</mat-card>
<mat-card *ngIf="formObject">
    <div class="flexit">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input [(ngModel)]="formObject.name" matInput placeholder="Rock Guitar">
        </mat-form-field>
    </div>
    <div class="flexit">
        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea [(ngModel)]="formObject.description" matInput placeholder="Top quality..."></textarea>
        </mat-form-field>
    </div>
    <div class="flexit">
        <mat-form-field appearance="fill">
            <mat-label>Price (in $)</mat-label>
            <input matInput #postalCode minlength="2" placeholder="10" [(ngModel)]="formObject.price">
        </mat-form-field>&nbsp;
        <mat-form-field appearance="fill">
            <mat-label>Choose An Image</mat-label>
            <input matInput disabled>
            <button mat-icon-button matSuffix (click)="imgInput.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
            <input hidden (change)="selectFile($event)" #imgInput type="file" accept="image/png, image/jpeg">
        </mat-form-field>
    </div>
    <div class="flexit">
        <mat-form-field appearance="fill">
            <mat-label>Long Description</mat-label>
            <textarea [(ngModel)]="formObject.longDescription" matInput placeholder="Top quality..."></textarea>
        </mat-form-field>
    </div>
    <div class="flexit">
        <mat-form-field appearance="fill">
            <mat-label>Specifications</mat-label>
            <input matInput [(ngModel)]="formObject.specifications" matInput
                placeholder="Specifications of this guitar are..." ng-true-value="true" ng-false-value="false">
        </mat-form-field>
        &nbsp;
        <mat-checkbox [checked]="formObject.soldOut=='false'" (change)="checkBoxChanged()">In Stock</mat-checkbox>
    </div>
    <div class="flexit">
        <button [ngStyle]="{'flex':'1'}" (click)="onSubmit()" mat-stroked-button color="primary">Submit</button>
    </div>

</mat-card>