<mat-card>
    <br>
    <mat-card-title class="center-it">Yashas' Guitar Store</mat-card-title>
    <br>
    <mat-divider></mat-divider>
    <br>
    <mat-card-subtitle class="center-it">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Search Name or Description</mat-label>
            <input [(ngModel)]="searchedValue" (input)="search()" matInput placeholder="Electric, archtops etc">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Sort By</mat-label>
            <mat-select [(ngModel)]="selectedValue" (selectionChange)="sort()">
                <mat-option value="price">Price</mat-option>
                <mat-option value="name">Name</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-radio-group color="primary" aria-label="SelectSort" (change)="sort()" [(ngModel)]="sortDirection">
            <mat-radio-button value="ascending">Ascending</mat-radio-button>
            <mat-radio-button value="descending">Descending</mat-radio-button>
        </mat-radio-group>
    </mat-card-subtitle>
    <mat-divider></mat-divider>
    <br>

    <!-- Guitar list -->
    <mat-card *ngFor="let guitar of manipulatedGuitars" class="guitarcard">
        <mat-card-title-group [ngStyle]="{'cursor':'pointer'}"
            (click)="goTo({selectedGuitarId:guitar.dateAdded, where:'detailedComponent'})">
            <mat-card-title>{{ guitar.name }}</mat-card-title>
            <mat-card-subtitle>{{ guitar.description }}
                <h3 [ngStyle]="{'color':'#c2185b'}"><b>${{guitar.price}}</b></h3>
            </mat-card-subtitle>
            <img mat-card-sm-image src="/assets/img/{{guitar.image}}.jpg">
        </mat-card-title-group>
        <mat-divider></mat-divider>

        <!-- Fab Button -->
        <div class="fab-container">
            <button mat-fab color="primary"
                (click)="goTo({where:'addOrEditComponent'})">
                <mat-icon>playlist_add</mat-icon>
            </button>
        </div>

    </mat-card>

    <mat-card-footer>
        <mat-progress-bar *ngIf="guitars.length===0" mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>