<mat-card class="detailed" *ngIf="selectedGuitar">

    <mat-card-title-group>
        <mat-card-title>{{ selectedGuitar.name }}</mat-card-title>
        <mat-card-subtitle>{{ selectedGuitar.description }}
            <h3 [ngStyle]="{'color':'#c2185b'}"><b>${{selectedGuitar.price}}</b></h3>
        </mat-card-subtitle>
        <img mat-card-sm-image src="{{selectedGuitar.image}}">
    </mat-card-title-group>
    <mat-divider></mat-divider>
    <section [ngStyle]="{'text-align':'center'}">
        <mat-button-toggle-group [(ngModel)]="showing" aria-label="Font Style">
            <mat-button-toggle value="description">&nbsp;Description&nbsp;</mat-button-toggle>
            <mat-button-toggle value="specification">Specification</mat-button-toggle>
            <mat-button-toggle value="review">{{ '&nbsp;'.repeat(3) }}Reviews{{ '&nbsp;'.repeat(3) }}
            </mat-button-toggle>
        </mat-button-toggle-group>
    </section>
    <br>
    <mat-card-content *ngIf="showing==='description'">
        <mat-card>
            <mat-card-subtitle>
                {{selectedGuitar.longDescription}}
            </mat-card-subtitle>
        </mat-card>
    </mat-card-content>

    <mat-card-content class="containIt" *ngIf="showing==='specification'">
        <h2>{{selectedGuitar.specifications}} {{selectedGuitar.name}}</h2>
        Category : {{selectedGuitar.category.toUpperCase()}}
        <br>
        Availability : {{selectedGuitar.soldOut==="false" ? 'In stock' : 'Out of stock'}}
    </mat-card-content>

    <mat-card-content *ngIf="showing==='review'">
        <mat-card *ngFor="let review of reviews">
            <mat-card-title>Review Points: {{ review.star }}</mat-card-title>
            <mat-card-subtitle>{{ review.body }} ~{{ review.name }}</mat-card-subtitle>
            <mat-divider></mat-divider>
        </mat-card>
        <br>
        <mat-card>
            <h3>Add Review</h3>
            <div class="flexit">
                <mat-form-field [ngStyle]="{'flex':'1'}" appearance="fill">
                    <mat-label>Name</mat-label>
                    <input [(ngModel)]="reviewer" matInput placeholder="Yashas">
                </mat-form-field>
                <br>
                <span [ngStyle]="{'flex':'1'}">Review Points:
                    <mat-slider max="5" min="1" step="step" [(ngModel)]="reviewPoint" thumbLabel tickInterval="1">
                    </mat-slider>
                </span>
                <br>
            </div>
            <div class="flexit">
                <mat-form-field [ngStyle]="{'flex':'1'}" appearance="fill">
                    <mat-label>How was you experience</mat-label>
                    <textarea [(ngModel)]="review" matInput placeholder="It's the best"></textarea>
                </mat-form-field>
            </div>
            <div class="flexit">
                <button [ngStyle]="{'flex':'1'}" (click)="onSubmit()" mat-stroked-button color="accent">Submit</button>
            </div>



        </mat-card>
    </mat-card-content>

    <br>
    <mat-card-content>
        <mat-card-actions>
            <button [ngStyle]="{'flex':'1'}" (click)="goTo({where:'listedComponent'})" mat-raised-button color="accent">
                < Go Back to Search</button>
                    <button [ngStyle]="{'flex':'1'}"
                        (click)="goTo({where:'orderedComponent', selectedGuitarId: selectedGuitar.guitar_id.toString()})"
                        mat-raised-button color="primary">Checkout</button>
        </mat-card-actions>
    </mat-card-content>

    <mat-grid-list cols="2" rowHeight="40px">
        <mat-grid-tile>
            <button mat-icon-button (click)="moveBack()">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-icon-button (click)="moveForward()">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </mat-grid-tile>
    </mat-grid-list>

</mat-card>

<div class="fab-container">
    <button mat-fab color="primary" matTooltip="Edit this guitar" matTooltipPosition="above" matTooltipHideDelay="1500"
        (click)="goTo({where: 'addOrEditComponent', selectedGuitarId: selectedGuitar.guitar_id.toString()})">
        <mat-icon>edit</mat-icon>
    </button>
</div>